.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;   
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 22px;
    color: #585858;
}
.main .nav img{
    width: 40px;
    border-radius: 50%;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0;
    font-size: 56px;
    color: #C4C7C5;
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg, #4B90FF, #FF5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main .cards{
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 20px;
}
.card{
    height: 200px;
    padding: 15px;
    background-color: #F0F4F9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.card p{
    color: #585858;
    font-size: 17px;
}
.card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
.card:hover{
    background-color: #DFE4EA;
}
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #F0F4F9;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box img {
    width: 25px;
    cursor: pointer;
}
.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
.search-box .search-box-icon{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}