.sidebar{
    min-height: 100vh;
    display: flex; /* inline-flex*/
    flex-direction: column;
    justify-content: space-between;
    background-color: #F0F4F9;
    padding: 25px 15px;
}
.sidebar img {
    width: 20px;
}
.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.sidebar .new-chat {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #E6EAF1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title{
    margin: 30px 0 20px 0;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.sidebar .recent-entry:hover{
    background-color: #E2E6EB;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item{
    padding-right: 10px;
}
@media (max-width: 600px) {
    .sidebar{
        display: none;
    }
}
